#big-icon .anticon,
#big-icon .anticon + span {
  font-size: 25px !important;
}
#big-icon {
  padding: 0 10px 10px 10px !important;
}
.ant-descriptions-item,
.ant-form-vertical .ant-form-item-label,
.btn-normal,
.card-no-padding .ant-card-body {
  padding: 0 !important;
}
.card-no-padding-top .ant-card-head-title {
  padding-top: 0 !important;
}
@font-face {
  font-family: ralewaylight;
  src: url(/public/fonts/ralewaylight.ttf);
}
@font-face {
  font-family: ralewayregular;
  src: url(/public/fonts/ralewayregular.ttf);
}
@font-face {
  font-family: ralewaymedium;
  src: url(/public/fonts/ralewaymedium.ttf);
}
body {
  overflow: hidden;
}
.dark .text {
  color: #fff !important;
}
.light .text {
  color: #000 !important;
}
.ant-btn,
.avatar-btn {
  font-family: ralewaylight !important;
  height: 40px !important;
  padding: 6.4px 15px !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  background-color: #318ce7 !important;
  border: 1px #318ce7 solid !important;
  cursor: pointer !important;
}
.ant-btn-sm {
  height: 24px !important;
  padding: 0 7px !important;
  font-size: 14px !important;
}
.ant-result-extra {
  display: flex !important;
  justify-content: center !important;
}
.dark .ant-badge-status-text {
  color: #fff !important;
}
.light .ant-badge-status-text {
  color: #000 !important;
}
.ant-btn,
.dark,
.dark .ant-descriptions-item-content,
.dark .ant-descriptions-item-label,
.dark .ant-list-item-meta-title,
.dark .ant-result-title {
  color: #fff !important;
}
.light,
.light .ant-descriptions-item-content,
.light .ant-descriptions-item-label,
.light .ant-list-item-meta-title,
.light .ant-result-title {
  color: #000 !important;
}
#big-icon .anticon + span,
.ant-list-item-meta-title,
h1 {
  margin: 0 !important;
}
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.logo img {
  width: 50%;
}
::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}
.dark ::-webkit-scrollbar-track {
  background: #182348 !important;
}
.dark ::-webkit-scrollbar-thumb {
  background: #182348 !important;
  border: 3px solid #318ce7 !important;
}
.light ::-webkit-scrollbar-track {
  background: #fff !important;
}
.light ::-webkit-scrollbar-thumb {
  background: #fff !important;
  border: 3px solid #318ce7 !important;
}
.ant-menu {
  border-right: none !important;
}
.dark .ant-layout-sider,
.dark .ant-menu {
  background: #000c17 !important;
}
.light .ant-layout-sider,
.light .ant-menu {
  background: #f0ffff !important;
}
.ant-menu-submenu-title:hover .ant-menu-title-content {
  color: #6841f5 !important;
}
.ant-menu-submenu-title:hover .anticon {
  color: #6841f5 !important;
}
.anticon-menu-fold:hover,
.anticon-menu-unfold:hover {
  color: #6841f5 !important;
}
.ant-drawer-close,
.ant-menu-submenu-arrow,
.ant-picker-calendar-mode-switch {
  display: none !important;
}
.align-items-center,
.align-items-end,
.flex-end-col,
.flex-end-row,
.flex-start-row,
.justified-row,
.space-between-row {
  display: flex !important;
  width: 100%;
}
.ant-menu-title-content {
  font-family: ralewayregular !important;
  font-size: 16px !important;
}
.dark .ant-menu-title-content {
  color: #fff !important;
}
.light .ant-menu-title-content {
  color: #000 !important;
}
.ant-menu-item .ant-menu-title-content:hover {
  color: #6841f5 !important;
}
.ant-menu-item-icon {
  font-size: 20px !important;
}
.dark .ant-menu-item-icon {
  color: #fff !important;
}
.light .ant-menu-item-icon {
  color: #000 !important;
}
.ant-card-bordered,
.ant-list-item,
.ant-menu-item:after {
  border: none !important;
}
.ant-menu-item-selected .ant-menu-title-content {
  color: #6841f5 !important;
  font-size: 18px !important;
  font-family: ralewayregular !important;
}
.trigger svg {
  width: 1.5em;
  height: 1.5em;
}
h1.ant-typography {
  font-weight: 500 !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.justified-row {
  justify-content: center !important;
}
.space-between-row {
  justify-content: space-between !important;
}
.flex-start-row {
  justify-content: flex-start !important;
}
.flex-end-row {
  justify-content: flex-end !important;
}
.flex-end-col {
  flex-direction: column;
  justify-content: flex-end !important;
}
.ant-btn-default,
.ant-picker-body th,
.ant-picker-calendar-date-value,
.ant-picker-cell {
  color: #318ce7 !important;
}
.anticon {
  color: #318ce7 !important;
}
.ant-rate-star-half .anticon {
  color: #318ce77a !important;
}
.ant-rate-star-zero .anticon,
.anticon-inbox {
  color: #318ce741 !important;
}
.ant-avatar .anticon {
  color: #fff !important;
}
.anticon-close,
.anticon-close-square {
  color: #ff0000 !important;
}
.ant-input-affix-wrapper {
  background: 0 0 !important;
  padding: 0 !important;
  border: 1px solid #318ce7 !important;
}
.ant-btn-default {
  background: 0 0 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border: 1px solid #318ce7 !important;
}
.ant-btn:hover,
.avatar-btn:hover {
  color: #fff !important;
  background: #6841f5 !important;
  border: 1px #6841f5 solid !important;
}
.btn-normal {
  color: #318ce7 !important;
  background: 0 0 !important;
  border: 0 !important;
  margin: 0 !important;
}
.btn-normal:hover {
  color: #6841f5 !important;
  background: none !important;
  border: none !important;
  transform: scale(1.2);
}
.card-main-layout {
  width: 100%;
  min-height: calc(100vh);
}
.ant-card {
  cursor: default !important;
  width: 100%;
}
.ant-card-extra {
  margin-left: 50px !important;
}
.ant-card-head {
  height: fit-content !important;
  border-bottom: 1px solid #318ce750 !important;
}
.dark .card-with-background,
.dark .ant-card .card-with-background {
  background: #182348 !important;
}
.ant-steps-item-content {
  min-height: fit-content !important;
}
.ant-steps-item-icon {
  font-size: 12px !important;
  background: none !important;
}
.ant-steps-item-description {
  font-size: 13px !important;
  font-family: ralewayregular !important;
  padding-bottom: 18px !important;
}
.light .ant-steps-item-description {
  color: #000 !important;
}
.dark .ant-steps-item-description {
  color: #fff !important;
}
.ant-notification-notice,
.light .card-with-background,
.light .ant-card .card-with-background,
.light .ant-picker-calendar-full .ant-picker-panel {
  background: #fff !important;
}
.card-custom-size-60 {
  margin: 0 !important;
  width: 60% !important;
}
.card-custom-size-full {
  margin: 0 !important;
  width: 100% !important;
}
.card-item .ant-card-head {
  min-height: fit-content !important;
  padding: 0 !important;
  border-bottom: none !important;
}
.card-item .ant-card-head-title {
  padding-bottom: 0 !important;
}
.custom-card-head-title .ant-card-head-title {
  padding: 2px 0 0 0 !important;
}
.card-item .ant-card-body {
  height: fit-content !important;
  padding: 0 !important;
}
.biggest-card-title {
  font-size: 80px !important;
}
.bigger-card-title {
  font-size: 50px !important;
}
.big-card-title {
  font-size: 24px !important;
}
.ant-result-title,
.big-font,
.large-card-title {
  font-size: 20px !important;
}
.medium-card-title,
.medium-font {
  font-size: 18px !important;
}
.small-card-title,
.small-font {
  font-size: 16px !important;
}
.extra-small-card-title,
.extra-small-font {
  font-size: 12px !important;
}
.big-font,
.bigger-font,
.extra-small-font,
.large-font,
.medium-font,
.small-font {
  color: #318ce7;
  font-family: ralewayregular !important;
  text-align: left;
  margin: 0 !important;
  line-height: 1.2 !important;
}
.big-card-title,
.bigger-card-title,
.biggest-card-title,
.extra-small-card-title,
.large-card-title,
.medium-card-title,
.small-card-title {
  color: #318ce7;
  font-family: ralewaylight !important;
  text-align: left;
  margin: 0 !important;
  line-height: 1.2 !important;
}
.ant-form-item-explain-error,
.ant-pagination,
.ant-picker,
.ant-picker-calendar,
.ant-picker-dropdown,
.ant-statistic-content-value,
.ant-tabs-tab-btn,
.dark .ant-table-thead .ant-table-cell,
.dark .table-row,
.light .table-row {
  font-family: ralewayregular !important;
}
.ant-form-item label,
.ant-list-item-meta-content,
.ant-result-subtitle,
.ant-result-title,
.ant-steps-item-title {
  font-family: ralewayregular !important;
}
.bigger-font {
  font-size: 23px !important;
}
.large-font {
  font-size: 18px !important;
}
.box-style {
  box-shadow: rgba(57, 34, 187, 0.15) 0 48px 100px 0;
}
.dark .table-row,
.light .table-row {
  font-size: 14px;
  cursor: pointer;
}
.ant-table-thead {
  position: sticky !important;
  top: 109px !important;
  z-index: 1 !important;
}
.ant-table-column-sorters {
  display: flex !important;
  justify-content: center !important;
}
.ant-table-column-sorter {
  padding-left: 10px !important;
}
.ant-table-cell div span {
  max-width: fit-content !important;
}
.table-row:hover td,
.table-row:hover td p {
  color: #fff !important;
  background: #6841f5 !important;
  cursor: pointer;
}
.dark .ant-table-thead tr th {
  border-bottom: 1px solid #000c17 !important;
}
.light .ant-table-thead tr th {
  border-bottom: 1px solid #318ce750 !important;
}
.dark .ant-table-thead .ant-table-cell {
  color: #318ce7 !important;
  font-size: 14px;
  text-align: center;
  background: #000c17 !important;
}
.dark .ant-table-expanded-row-fixed,
.dark .table-row,
.dark .ant-table-column-sort {
  color: #fff !important;
  text-align: center;
  background: #182348 !important;
}
.dark .ant-table-tbody tr td {
  border-bottom: 1px solid #000c17 !important;
}
.light .ant-table-tbody tr td {
  border-bottom: 1px solid #318ce750 !important;
}
.light .ant-table-thead .ant-table-cell {
  color: #318ce7 !important;
  font-family: ralewayregular !important;
  font-size: 14px;
  text-align: center;
  background: #f0ffff !important;
}
.light .ant-table-expanded-row-fixed,
.light .table-row,
.light .ant-table-column-sort {
  color: #000 !important;
  text-align: center;
  background: #fff !important;
}
.ant-pagination {
  font-size: 22px !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.ant-pagination * {
  color: #318ce7;
  border: none !important;
  background: 0 0 !important;
}
.ant-pagination-options-size-changer .ant-select-selector {
  height: 30px !important;
}
.ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none !important;
}
.ant-statistic {
  text-align: center;
}
.ant-statistic-content-value {
  color: #318ce7;
  font-size: 30px;
}
.small-font-statistic .ant-statistic-content-value {
  font-size: 18px;
}
.ant-tabs-tab {
  padding: 4px 4px 2px !important;
  background: #318ce7 !important;
  border: 1px solid #318ce750 !important;
}
.ant-tabs-tab-active,
.ant-tabs-tab:hover {
  background: #6841f5 !important;
}
.ant-tabs-tab-btn {
  color: #fff !important;
  font-size: 14px;
  padding: 6px;
}
.ant-tabs-nav {
  margin-bottom: 0 !important;
}
.dark .ant-tabs-nav-wrap {
  border-bottom: 2px solid #fff !important;
}
.light .ant-tabs-nav-wrap {
  border-bottom: 2px solid #318ce750 !important;
}
.ant-tabs-ink-bar {
  visibility: hidden;
}
.ant-drawer-header {
  padding: 0 !important;
  border-bottom: none !important;
}
.dark .ant-card,
.dark .ant-drawer-body,
.dark .ant-drawer-header,
.dark .ant-layout-header,
.dark .ant-tabs {
  background: #161d40 !important;
}
.light .ant-card,
.light .ant-drawer-body,
.light .ant-drawer-header,
.light .ant-layout-header,
.light .ant-tabs {
  background: #f8f9fa !important;
}
.ant-drawer-body {
  padding: 0 !important;
}
.no-overflow .ant-drawer-body {
  min-height: fit-content !important;
  overflow: hidden !important;
}
.overflow .ant-drawer-body {
  min-height: fit-content !important;
  overflow: visible !important;
}
.ant-drawer-content-wrapper {
  width: 100% !important;
}
.ant-form-item {
  margin: 0 0 18px !important;
}
.ant-form-item-space-bottom-normal .ant-form-item {
  margin: 0 0 15px !important;
}
.ant-form-item-explain-error {
  color: #e65c5c !important;
  font-size: 12px;
  margin: 5px 0 10px;
}
.ant-form-item label {
  color: #318ce7 !important;
  font-size: 13px !important;
  height: 0 !important;
}
.ant-form input[type="file"] {
  padding: 8px !important;
}
.ant-picker-calendar {
  padding: 24px !important;
}
.ant-picker-calendar-header {
  padding-top: 0;
}
.ant-picker-calendar-date {
  border-top: 1px solid #318ce750 !important;
}
.ant-picker-calendar-date-content {
  height: 40px !important;
}
.dark .ant-picker-calendar,
.dark .ant-picker-panel {
  background: #182348 !important;
}
.light .ant-picker-calendar,
.light .ant-picker-panel {
  background: #fff !important;
}
.ant-picker-panel {
  padding-top: 24px;
}
.ant-segmented {
  padding: 0 !important;
}
.ant-timeline-item {
  padding-bottom: 12px !important;
}
.ant-segmented,
.ant-tag,
.ant-timeline-item-head {
  background: 0 0 !important;
}
.ant-timeline-item-tail {
  border-left: 1px solid #318ce7 !important;
}
.ant-input-number {
  padding: 2px !important;
}
.ant-input-suffix {
  display: none !important;
}
.ant-input,
.ant-input-number-input,
.ant-select,
.ant-select-item-option-content {
  font-family: ralewayregular !important;
  font-size: 16px !important;
}
.ant-input,
.ant-input-number,
.ant-picker,
.ant-select-selector {
  width: 100% !important;
  height: 40px !important;
  border: 1px solid #318ce750 !important;
}
.ant-select-selector {
  padding: 5px 0 5px 10px !important;
}
.bordered-select .ant-select-selector {
  border: 1px solid #318ce7 !important;
}
.dark .ant-input,
.dark .ant-input-number,
.dark .ant-input-prefix,
.dark .ant-picker,
.dark .ant-picker-input input,
.dark .ant-select-arrow,
.dark .ant-select-selector,
.dark .ant-checkbox-inner {
  color: #fff !important;
  background: #161f3e !important;
}
.light .ant-input,
.light .ant-input-number,
.light .ant-input-prefix,
.light .ant-picker,
.light .ant-picker-input input,
.light .ant-select-arrow,
.light .ant-select-selector,
.light .ant-checkbox-inner {
  color: #000 !important;
  background: #f7f8f9 !important;
}
.dark .ant-input-prefix,
.light .ant-input-prefix {
  padding: 10px !important;
  margin: 0 !important;
  background: none !important;
}
textarea.ant-input {
  height: auto !important;
}
.ant-input-affix-wrapper > .ant-input {
  padding-left: 10px !important;
}
.ant-list-header {
  border-bottom: none !important;
}
.ant-list-item {
  padding: 0 0 24px 0 !important;
}
.dark .ant-list-item-meta-description {
  color: #f0f2f58e !important;
}
.light .ant-list-item-meta-description {
  color: #00000081 !important;
}
.ant-result-subtitle,
.ant-steps-item-title {
  color: #318ce7 !important;
  font-size: 14px !important;
}
.ant-result-icon {
  margin-bottom: 0 !important;
}
.detail-icon-label {
  font-size: 20px;
  color: #318ce7 !important;
  padding-right: 10px;
}
input::file-selector-button {
  font-size: 14px !important;
  color: #e2ecfa !important;
  background: 0 0;
  border: none;
}
.hover-underline:hover {
  color: #6841f5 !important;
  text-decoration: underline !important;
}
.ant-segmented-thumb {
  background: none !important;
  border-bottom: 1px solid #6841f5 !important;
  box-shadow: none !important;
}
.ant-segmented-item {
  margin-right: 10px !important;
}
.ant-segmented-item-label {
  font-size: 24px !important;
  color: #318ce7 !important;
  padding: 10px 24px 21px 24px !important;
}
.ant-segmented-item-label:hover {
  color: #6841f5 !important;
  background: none !important;
  text-decoration: underline !important;
}
.ant-segmented-item-selected {
  box-shadow: none !important;
}
.ant-segmented-item-selected .ant-segmented-item-label:hover {
  text-decoration: none !important;
}
.ant-segmented-item-selected .ant-segmented-item-label {
  color: #6841f5 !important;
  border-bottom: 1px solid #6841f5 !important;
}
.dark .ant-segmented-item-selected .ant-segmented-item-label {
  background: #161d40 !important;
}
.light .ant-segmented-item-selected .ant-segmented-item-label {
  background: #f8f9fa !important;
}
.ant-checkbox-inner {
  border: 1px solid #318ce750 !important;
}
.warning .ant-checkbox-inner {
  border: 1px solid #e65c5c !important;
}
.ant-checkbox-checked .ant-checkbox-input:hover {
  opacity: 1 !important;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  transform: scale(2) !important;
}
.small-checkbox .ant-checkbox-inner,
.small-checkbox .ant-checkbox-input {
  transform: scale(1.5) !important;
}
.ant-checkbox + span {
  padding-left: 16px !important;
}
.dark .ant-checkbox-inner::after {
  border-color: #fff !important;
}
.light .ant-checkbox-inner::after {
  border-color: #318ce7 !important;
}
.dark .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #fff !important;
}
.light .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #6841f5 !important;
}
.dark .ant-menu-item-selected,
.dark
  .ant-picker-calendar-full
  .ant-picker-panel
  .ant-picker-cell-selected
  .ant-picker-calendar-date {
  background: #1c2755 !important;
}
.light .ant-menu-item-selected,
.light
  .ant-picker-calendar-full
  .ant-picker-panel
  .ant-picker-cell-selected
  .ant-picker-calendar-date {
  background: #ecf3f9 !important;
}
.recharts-text {
  font-family: ralewaylight !important;
  font-size: 14px !important;
}
